package components

import "bytes"

type AboutViewProps struct {
	Content bytes.Buffer
	Authed  bool
}

templ About(props AboutViewProps) {
	@layout("About", GetNavItems(props.Authed)) {
		<div>
			@templ.Raw(props.Content.String())
		</div>
	}
}
