package components

import "bytes"

type AboutViewProps struct {
	Content bytes.Buffer
	Authed  bool
	User    *NavUser
}

templ About(props AboutViewProps) {
	@layout("About", BuildNavProps(props.Authed, props.User)) {
		<div>
			@templ.Raw(props.Content.String())
		</div>
	}
}
