package components

import (
	"bytes"
)


type AboutViewProps struct {
	Content bytes.Buffer
}

templ About(props AboutViewProps) {
	@layout("About", getNavItems()) {
		<div>
			@templ.Raw(props.Content.String())
		</div>
	}
}
