package components

type ErrorViewProps struct {
	Messages []string
}

templ Error(props ErrorViewProps) {
	<div>Error 🔥</div>
	<div>
		for _, message := range props.Messages {
			<div>{ message }</div>
		}
	</div>
}
