package components

templ navTemplate(links []NavItem) {
	<link rel="stylesheet" href="/assets/css/site.css"/>
	<nav class="navbar">
		<ul>
			for _, link := range links {
				<li>
					<a href={ templ.URL(link.URL) }>
						{ link.Name }
					</a>
				</li>
			}
		</ul>
	</nav>
}
